/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.brd-lightgrey {
    border: 1px solid lightgrey;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

.small-container {
    max-width: 700px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.flx.al-center {
    align-items: center;
}

.link-button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.link-button.lg {
    width: 170px;
    height: 27px;
    display: block;
    text-align: center;
}

.link-button.light {
    background-color: white;
    color: black;
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.margin-btn-md {
    margin-bottom: 25px;
}

.margin-btn-lg {
    margin-bottom: 40px;
}

.margin-btn-xlg {
    margin-bottom: 80px;
}

.sep {
    width: 30px;
}

.sep-lg {
    width: 80px;
    border-bottom: 1px solid lightgray;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

header {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 0 0 5px grey;
}

img {
    max-width: 100%;
    display: block;
}

main {
    padding-top: 50px;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

/*  Header */

.nav-bar-left {
    padding: 10px;
}

#header-logo {
    height: 20px;
    margin-right: 10px;
}

.nav-bar-left img {
    max-height: 100%;
}

/* Header list */

header li {
    list-style-type: none;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: black;
}

/* Main */

/* Jumbo */

.jumbo {
    background-color: rgb(180, 208, 231);
    height: 500px;
    padding-top: 50px;
}

.jumbo-box-description {
    flex-basis: 30%;
}

.jumbo-box-pic {
    flex-basis: 70%;
}

.jumbo-box-description .fa-solid {
    font-size: 40px;
    font-weight: 900;
    position: relative;
    top: 40px;
    cursor: pointer;
}

/* Section business plan */

#business-plan {
    padding-top: 130px;
}

.radio-button {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 3px;
}

.billing-monthly {
    margin-right: 20px;
}

.radio-button.check {
    border: 3px solid rgb(0, 97, 255);
    cursor: pointer;
}

.radio-button.uncheck {
    border: 1px solid lightgrey;
    cursor: pointer;
}

/* Card business */

.row {
    gap: 30px;
}

.column {
    flex-basis: calc(100% / 3);
}

.card,
.big-card {
    font-size: 11px;
}

.card-business-type,
.card-business-more {
    padding: 20px;
}

.card-header {
    height: 30px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    line-height: 30px;
}


/* Card Top */
.price-details {
    display: block;
    padding-top: 7px;
    color: grey;
}

.business-card-row {
    margin-bottom: 10px;
}

.business-card-icon {
    flex-basis: 5%;
    margin-right: 5px;
}

.business-card-details {
    flex-grow: 1;
}

.link a {
    color: blue;
}

/* Card Bottom */

.fa-check {
    color: rgb(13, 114, 255);
}

/* Big-card */

.big-card .card-business-type {
    flex-basis: 70%;
}

.big-card .card-business-more {
    flex-basis: 30%;

}

/* Section Dropbox Business */

/* Find partner */

.find-partner {
    margin: 100px 0;
}

.partner-pics {
    flex-basis: 60%;
}

.find-partner-description {
    flex-basis: 40%;
    padding: 30px;
}

/* About Dropbox Business */

.about-dropbox-business {
    margin-bottom: 150px;
}

.about-dropbox-business img {
    margin-bottom: 10px;
}

/* Our Customers */

.our-customers-jumbo .column {
    flex-basis: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.our-customers-jumbo .customers-card {
    height: 50%;
    flex-basis: 50%;
    filter: grayscale(0);
}

.customers-card {
    justify-content: center;
    padding: 70px 50px;
}

.customers-card img {
    filter: invert(100%);
}

.customers-big-card picture {
    display: block;
    width: 50%;
}

/* Cards ID */

.bg-lightgreen {
    background-color: rgb(162, 211, 155);
}

.bg-maroon {
    background-color: rgb(97, 8, 43);
}

.bg-blue {
    background-color: rgb(0, 147, 206);
}

.bg-red {
    background-color: rgb(255, 28, 28);
}

.bg-darkred {
    background-color: rgb(213, 0, 31);
}

.bg-lightblue {
    background-color: rgb(180, 208, 231);
}

.bg-blue {
    background-color: rgb(13, 36, 129);
}

.bg-yellow {
    background-color: rgb(255, 216, 48);
}

.customers-big-card {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    height: 100%;
}