/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animazioni */

@keyframes bounce {
    0% {
        top: 30px;
    }

    50% {
        top: 45px
    }

    100% {
        top: 30px
    }
}

/* Utils */

.brd-lightgrey {
    border: 1px solid lightgrey;
}

.brd-bottom-lightgrey {
    border-bottom: 1px solid lightgray;
}

.brd-bottom-grey {
    border-bottom: 1px solid grey;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

.small-container {
    max-width: 700px;
    margin: 0 auto;
}

.flx {
    display: flex;
}

.flx.al-center {
    align-items: center;
}

.flx .col-30 {
    flex-basis: 30%;
}

.flx .col-70 {
    flex-basis: 70%;
}

.link-button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.link-button.lg {
    width: 170px;
    height: 27px;
    display: block;
    text-align: center;
}

.link-button.white {
    color: black;
    background-color: white;
    width: 200px;
}

.link-button.light {
    background-color: white;
    color: black;
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.link-button:hover {
    filter: opacity(0.8);
}

.margin-btn-md {
    margin-bottom: 25px;
}

.margin-btn-lg {
    margin-bottom: 40px;
}

.margin-btn-xlg {
    margin-bottom: 80px;
}

.link a {
    color: blue;
}

.sep {
    width: 30px;
}

.sep-lg {
    width: 80px;
    border-bottom: 1px solid lightgray;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

header {
    height: 50px;
    background-color: white;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 0 0 5px grey;
}

img {
    max-width: 100%;
    display: block;
}

main {
    padding-top: 50px;
}

footer {
    background-color: black;
    color: white;
    padding-top: 70px;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

ul a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*  Header */

#header-logo {
    height: 20px;
    margin-right: 10px;
}

.nav-bar-left img {
    max-height: 100%;
}

/* Comparsa bordo header link evidenziati */

header li:hover {
    box-shadow: 0px 2px grey;
}

/* Header list */

header li {
    margin: 0 10px;
    line-height: 50px;
}

header a {
    color: black;
}

/* Main */

/* Jumbo */

.jumbo {
    background-color: rgb(180, 208, 231);
    height: 500px;
    padding-top: 50px;
}

.jumbo-box-description .fa-solid {
    font-size: 40px;
    font-weight: 900;
    color: black;
    position: relative;
    cursor: pointer;
    animation: bounce 1s infinite;
}

/* Section business plan */

#business-plan {
    padding-top: 130px;
}

.radio-button {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 3px;
}

.billing-monthly {
    margin-right: 20px;
}

.radio-button.check {
    border: 3px solid rgb(0, 97, 255);
    cursor: pointer;
}

.radio-button.uncheck {
    border: 1px solid lightgrey;
    cursor: pointer;
}

/* Card business */

.row {
    gap: 30px;
}

.column {
    flex-basis: calc(100% / 3);
}

.card,
.big-card {
    font-size: 11px;
}

.card-business-type,
.card-business-more {
    padding: 20px;
}

.card-header {
    height: 30px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    line-height: 30px;
}


/* Card Top */
.price-details {
    display: block;
    padding-top: 7px;
    color: grey;
}

/* Card List */

.card ul {
    list-style-position: outside;
    padding-left: 8px;
}

.card li {
    padding-left: 2px;
    margin-bottom: 10px;
}

.business-description li:nth-child(1)::marker {
    content: ' ';
    font-family: 'FontAwesome';
}

.business-description li:nth-child(2)::marker {
    content: ' ';
    font-family: 'FontAwesome';
}

.business-description li:nth-child(3)::marker {
    content: ' ';
    font-family: 'FontAwesome';
}


.card-business-more li::marker {
    content: ' ';
    color: rgb(13, 114, 255);
    font-family: 'FontAwesome';
}

/* Find partner */

.find-partner {
    margin: 100px 0;
}

.partner-pics {
    flex-basis: 60%;
}

.find-partner-description {
    flex-basis: 40%;
    padding: 30px;
}

/* About Dropbox Business */

.about-dropbox-business {
    margin-bottom: 150px;
}

.about-dropbox-business img {
    margin-bottom: 10px;
}

/* Our Customers */

.our-customers-jumbo .column {
    flex-basis: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.our-customers-jumbo .customers-card {
    height: 50%;
    flex-basis: 50%;
    justify-content: center;
    cursor: pointer;
    border: 10px solid transparent;
}

.our-customers-jumbo picture {
    display: block;
    width: 50%;
}

.customers-card img {
    filter: invert(100%);
}

/* Effetto selezione card */

.customers-card:hover {
    border: 10px solid rgba(255, 255, 255, 0.6);
}

/* Cards BG */

.bg-lightgreen {
    background-color: rgb(162, 211, 155);
}

.bg-maroon {
    background-color: rgb(97, 8, 43);
}

.bg-blue {
    background-color: rgb(0, 147, 206);
}

.bg-red {
    background-color: rgb(255, 28, 28);
}

.bg-darkred {
    background-color: rgb(213, 0, 31);
}

.bg-lightblue {
    background-color: rgb(180, 208, 231);
}

.bg-blue {
    background-color: rgb(13, 36, 129);
}

.bg-yellow {
    background-color: rgb(255, 216, 48);
}

.customers-big-card {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    height: 100%;
}

/* Our customers footer */

.our-customers-footer {
    padding: 70px 0;
}

.our-customers-footer h2 {
    color: rgb(97, 8, 43);
    margin: 0;
}

/* Frequent ask */

#frequent-ask {
    margin: 100px 0;
}

#frequent-ask h2 {
    margin-bottom: 0;
    padding-bottom: 50px;
}

.ask-row {
    flex-wrap: wrap;
    cursor: pointer;
}

.ask {
    flex-basis: 95%;
    padding: 35px 0;
}

.show.answer {
    flex-basis: 5%;
}

.answer {
    flex-basis: 100%;
    padding-bottom: 35px;
    display: none;
}

/* Comparsa della risposta */

.ask-row:hover .answer {
    display: block;
}

.ask-row:hover .show-answer {
    transform: rotate(180deg);
}

/* Footer */

footer .column {
    flex-basis: 20%;
}

footer a {
    color: white;
    margin: 10px 0;
    display: block;
}

.change-language {
    color: grey;
    padding: 40px 0;
    cursor: pointer;
}